html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(270deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color: white;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 20px 5px;
  width: 100%;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.toggleNav {
  display: none;
}

img {
  width: 100%;
}

section, footer {
  text-align: center;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.flex-nav ul {
  border: 1px solid black;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}

.theme {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.light {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

@media all and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }
  .flex-nav li {
    flex: 1 1 50%;
  } 
  .flex-nav .social {
    flex: 1 1 25%;
  } 
}

@media all and (max-width: 500px) {

  .flex-nav li {
    flex-basis: 100%;
  } 

  .wrapper {
  display:flex;
  flex-direction:column;
  }

  .wrapper > * {
  order:999;
  }
 
  .flex-nav {
  order:1;
  }
 
  .top {
  order:2;
  }

  .content {
  order:3;
  }

  .signup {
  order:4;
  }

  .toggleNav {
  display: block;
  }

  .flex-nav ul {
  display: none;
  }

  .flex-nav ul.open {
    display:flex;
  }
}




